/* .sidebar:hover + side-content {
    transform: translateX(0);
} */

.title-text {
    margin: 0;
    font-size: calc(1vh + 1vw);
    top: 50%;
    left: 5vw;
    position: absolute;
    transform: translateY(-50%);
}

.channel-title {
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 0px;
    position: absolute;
    width: 80vw;
    height: 7vh;
    background: #d3d3d3;
    z-index: -1;
    top: 0;
    right: 0;
}

.userList {
    position: absolute;
    top: 0;
    right: 0;
    width: 16vw;
    height: 100%;
    background: #c1c1c1;
    z-index: -2;
}

body {
    margin: 0;
    background: #d3d3d3;
}

.container {
    height: 100vh;
    width: 20vw;
}

.side-content {
    float: right;
    height: 100%;
    width: 16vw;
    background: #c1c1c1;
    /* transform: translateX(-20vw); */
    /* transition: all .6s ease-in-out */
}

.sidebar {
    float: left;
    height: 100%;
    width: 4vw;
    background: #8b8b8b;
}