@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0vw);
        transform: translateX(0vw);
    }
    100% {
        -webkit-transform: translateX(-20vw);
        transform: translateX(-20vw);
    }
}

.sidebar:hover {
    animation: slide-right 2s infinite;
}

body {
    margin: 0;
    background: whitesmoke;
}

.container {
    height: 100vh;
    width: 20vw;
}

.side-content {
    float: rbodyight;
    height: 100%;
    width: 16vw;
    background: lightgray;
}

.sidebar {
    float: left;
    height: 100%;
    width: 4vw;
    background: cornflowerblue;
}