html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background: rgb(17,17,17);
    font-family: 'Poppins', sans-serif;
}

@keyframes loadfadeout {
  from {height: 100%;}
  to {height: 0;}
}

@media screen and (max-device-width:991px), screen and (max-width:991px) {
    .pc {
        Visibility: hidden !important;
    }
    .mobile {
        Visibility: visible !important;
    }
}

.information {
    width: 40vw;
    height: 50vh;
    background-color: transparent;
    position: absolute;
    top: 25vh;
    right: 13vw;
}

.buttons > a {
    position: relative;
    display: inline;
    width: 3.4vw;
    height: 3.4vw;
    border-radius: 100%;
    cursor: pointer;
    border: 0.1vw solid rgb(17,17,17);
    background-color: rgb(42,42,42);
    transition: background-color .2s ease-out;
    margin-top: 1.3vh;
    margin-bottom: 1.3vh;
}

.active {
    background-color: rgb(240,173,27) !important;
}

.buttons > a:hover {
    background-color: rgb(240,173,27);
}

.buttons > a > i {
    color: #e1e1e1;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.buttons {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.sidebar {
    z-index: 1;
    width: 8vw;
    height: 100%;
    position: fixed;
    background-color: transparent;
    top: 0;
    right: 0;
}

.mobile {
    Visibility: hidden;   
}

.mpfp {
    position: absolute;
    top: 15vh;
    left: 35vw;
    width: 30vw;
    height: 30vw;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 0px 20px 0px;
}

.pfp {
    position: absolute;
    top: 5vh;
    left: 3vw;
    background-color: white;
    height: 90vh;
    width: 33.33333333%;
    border-radius: 5vh;
    box-shadow: 0px 0px 0.7vw 0;
}

.slantedback {
    box-shadow: 0 0 5vh 1vh;
    display: block;
    position: absolute;
    width: 130vw;
    height: 1200vh;
    left: -70%;
    transform: rotate(-9deg);
    top: -50%;
    background: rgb(255,205,0);
    background: -moz-radial-gradient(circle, rgba(255,205,0,1) 0%, rgba(240,173,27,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,205,0,1) 0%, rgba(240,173,27,1) 100%);
    background: radial-gradient(circle, rgba(255,205,0,1) 0%, rgba(240,173,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffcd00",endColorstr="#f0ad1b",GradientType=1);
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
}

.container > div {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.a-background {
    position: absolute;
    border-radius: 2vw;
    width: 85vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(32, 32, 32);
    -webkit-box-shadow: 0 0 .8vw .1vw rgb(17,17,17); 
    box-shadow: 0 0 .8vw .1vw rgb(17,17,17);
}

.a-title {
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 3vw;
}

.a-title > span {
    color:rgb(255,205,0);
}
